<h1>Details of contact:-</h1>

<table style="width: 100%">

	<tr>
    	
        <td style="width: 20%"><h4>address</h4></td>
        <td style="width: 5%"><h4>name</h4></td>
        <td style="width: 5%"><h4>mobile</h4></td>
        
    </tr>

    <tr>
    	
        <td style="width: 20%">{{ contact_details.contact_address }}</td>
        <td style="width: 5%">{{ contact_details.name }}</td>
        <td style="width: 5%">{{ contact_details.mobile }}</td>
        
    </tr>
</table>

	<a href="/new_contact/"> <input type="submit" value="Add New contact" /> </a>
	